/** A few styles to start with */
* {
	box-sizing: border-box;
}
body {
	background-color: #F5F5F5;
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	line-height: 1.7;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
}
header {
	background-color: #FFFFFF;
	height: 3.4375em;
}
.container {
	padding: 0 6.25em;
}

header input{
	position:relative;
	top:.7em;
	right:-80%;
	display:inline-block;
	width:17em;
	padding: .1em .3em;
	border:1px solid #D7C3EC;
}
/*profile card*/
.profile{
	position:relative;
	width:86%;
	margin:3em auto;
	background:#703F9B;
}
.profile:after,
.profile:before{
	content:"";
	display:block;
	height:0;
	clear:both;
}
.pro_img,.pro_content{
	float:left;
}
.pro_img{
	width:38%;
}
.pro_img img{
	width:100%;
	vertical-align: top;
}
.pro_content{
	width:60%;
}
.profile input[type="button"]{
	position:absolute;
	top:.8em;
	right:.7em;
	color:white;
	font-size:1.2em;
	font-weight:500;
	padding:.5em 2em;
	border-radius:3px;
	background:#db3eb1;
	outline:none;
	border:none;
}
.pro_content p,
.pro_content p:nth-child(3){
	margin-left:2rem;
	color:white;
}
.pro_content p{
	margin-top:1.5em;
	margin-bottom: 0;
	font-size:3em;
}
.pro_content p:nth-child(3),
.pro_content p:nth-child(4){
	margin-top:1em;
	font-size:1.2em;
	font-weight:500;
}
.pro_content a{
	color:#B78CD4;
	text-decoration: none;
}
.pro_content li{
	display:inline-block;
	margin:1em 1em;
	list-style: none;
}
.pro_content li i{
	margin-right:.5em;
	vertical-align: middle;
}
.pro_content li a,
.pro_content li i{
	font-weight:500;
	color:#D4D0CF;
}
.pro_content li:nth-child(1),
.pro_content li:nth-child(1) i{
	 color:#F385C2;
	 margin-left: 0;
 }
.pro_content li:nth-child(2) a,
.pro_content li:nth-child(2) i
{
	color:#68D9F7;
}
.pro_content ul{
	padding-left:2rem;
}