html {
	box-sizing: border-box;
}
* {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
body {
	background-color: #F5F5F5;
	font-size: 100%;
	font-family: "Roboto", "Roboto Slab", sans-serif;
	line-height: 1.7;
	color: #383838;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}
h1 {
	font-size: 2em;
	margin-top: 2em;
	margin-bottom: 0.2em;
}
h2 {
	font-size: 1.5em;
	margin: 0.75em 0;
}
h3 {
	font-size: 1.2em;
}
h4 {
	font-size: 0.9375em;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
img {
	width: 100%;
}
.row {
	width: 100%;
}
.col1 {
	width: 8.333333%;
}
.col2 {
	width: 16.66667%;
}
.col3 {
	width: 25%;
}
.col4 {
	width: 33.33333%;
}
.col5 {
	width: 41.66667%;
}
.col6 {
	width: 50%;
}
.col7 {
	width: 58.33333%;
}
.col8 {
	width: 66.66667%;
}
.col9 {
	width: 75%;
}
.col10 {
	width: 83.33333%;
}
.col11 {
	width: 91.66667%;
}
.col12 {
	width: 100%;
}
.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11 {
	float: left;
}
.container {
	padding: 0 6.25em;
}
.col12:after,
.container:after,
.row:after {
	content: "";
	display: block;
	clear: both;
}
.top {
	background-color: #FFFFFF;
	font-family: "Roboto Slab",serif;
	font-weight: bold;
	font-size: 1.2em;
	color: #717171;
	height: 3.4375em;
}
.logo{
	padding-top:.7em;
}
.top img {
	width:initial;
	vertical-align: middle;
}
header span:nth-child(2){
color:#693395;
}
header input{
	padding: .3em .3em;
	border:1px solid #D7C3EC;
	height: 3em;
}
/*profile card*/
.profile,.contribution{
	position:relative;
	
}
.profile{
	margin-top:3em;
	margin-left:auto;
	margin-right:auto;
	background:#703F9B;
}
.profile:after,
.profile:before{
	content:"";
	display:block;
	height:0;
	clear:both;
}
.pro_img,.pro_content{
	float:left;
}
.pro_img{
	width:38%;
}
.pro_img img{
	width:100%;
	vertical-align: top;
}
.pro_content{
	width:60%;
}
.profile input[type="button"]{
	position:absolute;
	top:.8em;
	right:.7em;
	color:white;
	font-size:1.2em;
	font-weight:500;
	padding:.5em 2em;
	border-radius:3px;
	background:#db3eb1;
	outline:none;
	border:none;
}
.pro_content p,
.pro_content p:nth-child(3){
	margin-left:2rem;
	color:white;
}
.pro_content p{
	margin-top:1.5em;
	margin-bottom: 0;
	font-size:4em;
}

.pro_content p:nth-child(3),
.pro_content p:nth-child(4){
	margin-top:1em;
	font-size:1.2em;

}
.pro_content a{
	color:#B78CD4;
}
.pro_content li{
	display:inline-block;
	margin:1em 1em;
	list-style: none;
}
.pro_content li i{
	margin-right:.5em;
	vertical-align: middle;
}
.pro_content li a,
.pro_content li i{
	font-weight:500;
	color:#D4D0CF;
}
.pro_content li:nth-child(1),
.pro_content li:nth-child(1) i{
	color:#F385C2;
	margin-left: 0;
}
.pro_content li:nth-child(2) a,
.pro_content li:nth-child(2) i
{
	color:#68D9F7;
}
.pro_content ul{
	padding-top: 5em;
	padding-left:2rem;
}

/*contribution*/
.contribution{
	margin:0 6.25em;
	padding:0 2.5em 2em 2.5em;
	background:#FFFFFF;
}
.contribution p{
	padding-bottom: 1em;
	border-bottom: 1px solid #E0E0E0;
}
.contribution h1{
	margin-top:0;
	padding-top:2em;
	padding-bottom:1em;
	font-size: 2em;
	text-align:center;
	color:#EA37B9;
}
.contribution h3{
	font-weight: 500;
}
.contribution li{
	display: inline-block;
	padding:0 1em;
	list-style: none;

}
.contribution li i{
	padding-right:.5em;
}

.contribution li:nth-child(2) a,
.contribution li:nth-child(2) i{
	color:#65D8F7;
}
.contribution li:nth-child(3) a{
	color:#676767;  
}
.contribution img{
	width:30%;
	vertical-align: top;
}
.open-source{
	display: inline-block;
	width:60%;
	margin-left:1.5em;
	margin-right: 1.5em;

}
.open-source h3{
	position: relative;
}
.open-source h3>i{
	position: absolute;
	right:0;
}
.open-source ul{
	padding-top:1em;
}
.open-source ul li:first-child{
	padding-left:0;
}
/*gratitude to paul*/
.gratitude{
	margin-bottom: 3em;
}
.gratitude h1,
.gratitude h3{
	text-align:center;
}
.gratitude h1{
	padding-top:2em;
	font-size: 2em;
	color:#EA37B9;
}
.fl-github,.tip,.fl-twitter{
	position:relative;
	margin-top:2em;
	margin-bottom:.5em;
	width:14em;
	height:14em;
	background:#fff;
	border-radius: 50%;
}
.fl-github{
	border:7px solid #F9EAED;
	float:right;
}
.tip{
	margin:2em auto .5em auto;
	border:7px solid #D5F9DD;
}
.fl-twitter{
	border:7px solid #D6F5FA;
}
.fl-github i,.fl-twitter i{
	position:absolute;
	top:35%;
	left:36%;
}
.fl-twitter i,.fl-twitter a{
	color:#56C8E3;
}
.fl-twitter a{
	position:absolute;
	bottom:2em;
	left:30%;
}
.fl-github p,.tip p,.fl-twitter p{
	position:absolute;
	top:1.5em;
	left:2em;
	width:9em;
	line-height: 1.2;
	text-align:center;
}
.fl-github button,.tip button{
	position:absolute;
	bottom:2em;
	color:white;
	padding:.7em 1em;
	border:none;
	border-radius: 2px;
}
.fl-github button{
	left:26%;
	background: #F24C7C;
}
.tip button{
	left:23%;
	background: #29B74B;
}
.tip input{
	position:absolute;
	top:35%;
	left:10%;
	width:7em;
	padding:.5em;
	font-size: 1.5em;
	text-align: center;
	background: #F8F8F8;
	border:none;
	outline:none;
}
.fl-github+p,.tip+p,.fl-twitter+p{
	color:#D6D6D6;
}
.fl-github+p{
	padding-right: 2em;
	clear:right;
	text-align: right;
}
.tip+p{
	text-align:center;
}

.skills:before {
	content: "";
	display: block;
	clear: both;
}
.skills {
	text-align: center;
	padding-bottom: 4.25em;
}
.skills h1 {
	color: #e639b7;
}
.frontendGraphContainer,
.backendGraphContainer {
	padding: 2em;
}
.frontendGraphContainer h2 {
	color: #f95553;
}
.backendGraphContainer h2 {
	color: #4a70eb;
}
.skills .row:last-child .col6 {
	float: none;
}
.skillsBar {
	padding-top: 2.8em;
	width: 75%;
	margin: 0 auto;
}
.skillsBar:after {
	content: "";
	display: block;
	clear: both;
}
.frontendSkills {
	background-color: #fc5e5f;
	width: 70%;
	border-radius: 2px 0 0 2px;
	padding-left: 0.5em;
}
.frontendSkills span {
	text-align: left;
}
.frontendSkills span,
.backendSkills span {
	display: block;
}
.frontendSkills,
.backendSkills {
	font-size: 0.75em;
    color: #FFFFFF;
    float: left;
    font-size: 0.75em;
}
.backendSkills {
	background-color: #4a70eb;
	width: 30%;
	border-radius: 0 2px 2px 0;
	padding-right: 0.5em;
}
.backendSkills span {
	text-align: right;
}
.graphWrapper {
	border-bottom: 1px solid #bababa;
	height: 15.625em;
	max-width: 31.97em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 4em 0;
	padding-right: 1em;
}
.graphWrapper:after {
	content: "";
	display: block;
	clear: both;
}
.yAxis {
	width: 30%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 2em;
}
.yAxis li {
	padding-right: 2em;
	text-align: right;
}
.xAxis {
	width: 100%;
	padding-left: 30%;
	padding-top: 0.75em;
	display: flex;
	justify-content: space-between;
}
.xAxis li {
	width: 15%;
	transform: rotate(45deg);
	padding-top: 0.5em;
	padding-left: 1em;
}
.barGraph {
	height: inherit;
	width: 70%;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}
.bar {
	border-radius: 2px 2px 0 0;
	list-style: none;
	padding: 0;
	width: 15%;
	bottom: 0;
}
#fb1 {
	height: 100%;
}
#fb2 {
	height:75%;
}
#fb3 {
	height: 100%;
}
#fb4 {
	height: 40%;
}
#fb5 {
	height: 18%;
}
#bb1 {
	height: 100%;
}
#bb2 {
	height: 75%;
}
#bb3 {
	height: 100%;
}
#bb4 {
	height: 40%;
}
#bb5 {
	height: 18%;
}
#ob1 {
	height: 100%;
}
#ob2 {
	height: 75%;
}
#ob3 {
	height: 100%;
}
#ob4 {
	height: 40%;
}
#ob5 {
	height: 18%;
}
#fb1, #bb1, #ob1 {
	background-color: #ffac42;
}
#fb2, #bb2, #ob2 {
	background-color: #38b9f0;
}
#fb3, #bb3, #ob3 {
	background-color: #6ad12c;
}
#fb4, #bb4, #ob4 {
	background-color: #fa8ab0;
}
#fb5, #bb5, #ob5 {
	background-color: #f0e210;
}
.biography {
	background-color: #FFFFFF;
	padding: 1.25em 2.25em 1.25em 2.25em;
	width: 70%;
	float: left;
}
.biography p {
	margin-bottom: 1.75em;
}
.biography p:last-of-type {
}
.arrow {
	display: inline-block;
	float: right;
}
.arrow a {
	color: #9f4def;
}
.biography h2,
.workHistory h2 {
	color: #9f4def;
}
.workHistory {
	width: 30%;
	float: left;
	padding: 2.25em;
}
.work {
	margin-bottom: 1.5em;
}
.currentWork h3 {
	font-size: 1.2em;
	font-weight: bold;
}
.work h3 {
	font-size: 1em;
	line-height: 1.3;
}
.work span {
	color: #a2a2a2;
	font-size: 0.875em;
}
.work:last-child h3 {
	font-size: 0.875em;
}
.work:last-child span {
	font-size: 0.75em;
}
.social {
	background-color: #FFFFFF;
	padding-bottom: 3em;
}
.social:after {
	content: "";
	display: block;
	clear: both;
}
.social h1 {
	font-size: 1.4em;
	margin-top: 1em;
}
.scroll {
	padding-right: 0.3125em;
}
.scroll:after {
	content: "";
	display: block;
	clear: both;
}
.articles,
.comments,
.tweets {
	height: 30em;
	overflow-x: hidden;
	overflow-y: visible;
}
.articles {
	background-color: #f1f8ff;
	padding: 1.4em 1.8em 0 1.8em;
}
.comments {
	background-color: #f9f3ff;
	padding: 1.4em 1.8em 0 1.8em;
}
.tweets {
	padding: 1.4em 1.2em 0 1.2em;
	background-color: #edfbfe;
}
.articles > section {
	padding-bottom: 1.25em;
}
.articles > section:last-of-type {
	border-bottom: none;
}
.articles h2 {
	font-size: 1.3em;
	margin-top: 0.875em;
	margin-bottom: 0.2em;
}
.articles h2:first-of-type {
	margin-top: 0;
}
.articles h3 {
	color: #1c42bd;
	line-height: 1.2;
	margin-top: 0.875em;
	font-size: 0.875em;
}
.articles h3:first-of-type {
	margin-top: 0.625em;
}
.comments h2 {
	margin-top: 0;
	font-size: 1.3em;
	margin-bottom: 0.2em;
}
.comments h3 {
	color: #1c42bd;
}
.tweetsContainer .scroll {
	background-color: #edfbfe;
}
.articlesContainer .scroll {
	background-color: #f1f8ff;
}
.commentsContainer .scroll {
	background-color: #f9f3ff;
}
.tweetsContainer,
.articlesContainer,
.commentsContainer {
	width: 33.33333%;
	float: left;
	padding: 0.5em;
}
.articlesContainer h1,
.commentsContainer h1 {
	padding-left: 1.4em;
}
.tweetsContainer h1 {
	padding-left: 1em;
}
.loadMore a,
.loadMore a,
.loadMore a {
	display: block;
	font-size: 0.75em;
	width: 85%;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
	padding: 1em 0;
}
.articlesContainer .loadMore {
	background-color: #f1f8ff;
}
.articlesContainer .loadMore a {
	border-top: 1px solid #8194e1;
	color: #8194e1;
}
.commentsContainer .loadMore {
	background-color: #f9f3ff;
}
.commentsContainer .loadMore a {
	border-top: 1px solid #b993f8;
	color: #b993f8;
}
.tweetsContainer .loadMore {
	background-color: #edfbfe;
}
.tweetsContainer .loadMore a {
	border-top: 1px solid #97def2;
	color: #97def2;
}
.tweetContainer {
	border-bottom: 1px solid #e1dfe0;
	padding-bottom: 0.5em;
	margin-bottom: 0.5em;
}
.tweetContainer:last-of-type {
	border-bottom: none;
}
.follow {
	display: inline-block;
	float: right;
	background-color: #3ab4e7;
	color: #b6e5f9;
	margin-top: 1.8em;
	padding: 0 0.7em;
	border-radius: 2px;
	font-size: 0.875em;
	margin-right: 1.25em;
}
.handle {
	color: #FFFFFF;
}
.tweetUserImage {
	padding-right: 0.5em;
}
.tweetUserImage img {
	border-radius: 4px;
}
.tweetText h4 {
	font-weight: bold;;
}
.tweetText h4 small {
	font-weight: normal;
	color: #a1b4c2;
}
.tweetText p {
	font-size: 0.875em;
}
.tweetMention {
	color: #3893e4;
}
.tweetTime,
.tweetActions {
	float: left;
	width: 50%;
}
.tweetActions button {
	-webkit-appearance: none;
	background-color: transparent;
	border: 0;
	outline: none;
	margin: auto 0.6em;
	color: #a1b4c2;
}
.tweetActions button:hover {
	cursor: pointer;
}
.tweetTime,
.tweetActions,
.articleSource,
.articleDate,
.commentTime,
.commentSource {
	color: #aaafb5;
	font-size: 0.75em;
}
.comment {
	border-bottom: 1px solid #e1dfe0;
	padding-bottom: 1.25em;
	margin-bottom: 1.25em;
}
.comment:last-of-type {
	border-bottom: none;
}
.comment p {
	line-height: 1.4;
	font-size: 0.9375em;
}
.comments::-webkit-scrollbar,
.tweets::-webkit-scrollbar,
.articles::-webkit-scrollbar {
	width: 0.2em;
}
.tweets::-webkit-scrollbar-thumb:vertical,
.comments::-webkit-scrollbar-thumb:vertical,
.articles::-webkit-scrollbar-thumb:vertical {
	border-radius: 5px;
}
.articles::-webkit-scrollbar-thumb:vertical {
	box-shadow: inset 0 0 6px #8194e1;
}
.comments::-webkit-scrollbar-thumb:vertical {
	box-shadow: inset 0 0 6px #d9c8f5;
}
.tweets::-webkit-scrollbar-thumb:vertical {
	box-shadow: inset 0 0 6px #97def2;
}
.center {
	margin: 0 auto;
}
.fa-2x {
    font-size: 1.5em;
    transition: 0.3s
}
.fa-2x:hover {
	color: #8194e1;
}