/** A few styles to start with */
* {
	box-sizing: border-box;
}
body {
	background-color: #F5F5F5;
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	line-height: 1.7;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
}
header {
	background-color: #FFFFFF;
	height: 3.4375em;
}
.container {
	padding: 0 6.25em;
}

header input{
	position:relative;
	top:.7em;
	right:-80%;
	display:inline-block;
	width:17em;
	padding: .1em .3em;
	border:1px solid #D7C3EC;
}
/*profile card*/
.profile{
	width:86%;
	margin:3em auto;
	background:#703F9B;
}
.profile img{
	vertical-align:top;
}